name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: "0 */12 * * *"  # Toutes les 12 heures
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Pacman SVG
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: "Baha-Bouazizi"
          output_name: "pacman-contribution-graph"

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add pacman-contribution-graph.svg
          git add pacman-contribution-graph-dark.svg
          git diff --cached --quiet || git commit -m "Update Pacman contribution graph"
          git push origin main
